{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }} - Blog Details{% endblock %}

{% block content %}
  <section class="mb-30px">
    <div class="container">
      <a href="{% url 'index' %}" style="display:block; text-decoration:none;">
        <div class="hero-banner" style="background-image:url('{% static "img/banner/hero-banner.png" %}');">
          <div class="hero-banner__content">
            <h3>Tours &amp; Travels</h3>
            <h1>Blog Details</h1>
            <h4>Post page</h4>
          </div>
        </div>
      </a>
    </div>
  </section>

  <section class="blog_area single-post-area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 posts-list">
          <div class="single-post">
            <div class="feature-img">
              <img class="img-fluid"
                   src="{% if post.image_url %}{{ post.image_url }}{% else %}{% static 'img/banner/blog.png' %}{% endif %}"
                   alt="{{ post.title }}">
            </div>
            <div class="blog_details">
              <h2>{{ post.title }}</h2>
              <ul class="blog-info-link mt-3 mb-4">
                <li><a href="#"><i class="ti-user"></i> {{ post.author }}</a></li>
                <li><a href="#"><i class="ti-notepad"></i> {{ post.published_at|date:"F d, Y" }}</a></li>
                <li><a href="#"><i class="ti-themify-favicon"></i> {{ comments|length }} Comments</a></li>
              </ul>
              <p class="excert">{{ post.text|linebreaksbr }}</p>
            </div>
          </div>

          <div class="navigation-top">
            <div class="d-sm-flex justify-content-between text-center">
              <p class="like-info"><span class="align-middle"><i class="ti-heart" style="color:red;"></i></span> {{ post.likes_amount }} people like this</p>
              <div class="col-sm-4 text-center my-2 my-sm-0"></div>
              <ul class="social-icons">
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-skype"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="comments-area">
            <h4>{{ comments|length }} Comments</h4>

            {% for comment in comments %}
            <div class="comment-list">
              <div class="single-comment justify-content-between d-flex">
                <div class="user d-flex">
                  <div class="thumb">
                    <img src="{% static 'img/blog/blog1.png' %}" alt="avatar">
                  </div>
                  <div class="desc">
                    <p class="comment">{{ comment.text|linebreaksbr }}</p>
                    <div class="d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <h5><a href="#">{{ comment.author }}</a></h5>
                        <p class="date">{{ comment.published_at|date:"F d, Y \\a\\t g:i a" }}</p>
                      </div>
                      <div class="reply-btn">
                        <a href="#" class="btn-reply text-uppercase">reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>

          <div class="comment-form">
            <h4>Leave a Reply</h4>
            <form>
              <div class="form-group form-inline">
                <div class="form-group col-lg-6 col-md-6 name">
                  <input type="text" class="form-control" id="name" placeholder="Enter Name"
                         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                </div>
                <div class="form-group col-lg-6 col-md-6 email">
                  <input type="email" class="form-control" id="email" placeholder="Enter email address"
                         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
              </div>
              <div class="form-group">
                <textarea class="form-control mb-10" rows="5" name="message" placeholder="Message"
                          onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"></textarea>
              </div>
              <a href="#" class="button button-postComment button--active">Post Comment</a>
            </form>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
              <div class="form-group">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Search Keyword"
                         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                  <div class="input-group-append">
                    <button class="btn" type="button"><i class="ti-search"></i></button>
                  </div>
                </div>
              </div>
              <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
            </aside>

            <aside class="single_sidebar_widget tag_cloud_widget">
              <h4 class="widget_title">Tag Clouds</h4>
              <ul class="list">
                <li><a href="#">project</a></li>
                <li><a href="#">love</a></li>
                <li><a href="#">technology</a></li>
                <li><a href="#">travel</a></li>
              </ul>
            </aside>
          </div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
